@import '../index.scss';
.card {
    position: relative;
    width: inherit;
    height: inherit;
    cursor: pointer;
    &:hover .cardInfo::after {
        content:url(../images/arrow.svg);
        position: absolute;
        right: -24px;
        top: 0;
        background-color: var(--color-accent);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 100%;
    }
    @media(max-width: 768px) {
        .cardInfo::after {
            content:url(../images/arrow.svg);
            position: absolute;
            right: -24px;
            top: 0;
            background-color: var(--color-accent);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 100%;
        }
    }
    .cardImg {
        display: block;
        width: 100%;
    }
    .cardInfo {
        position: absolute;
        bottom: 0;
        padding: 32px 12px;
        background-color: var(--color-primary);
        box-sizing: border-box;
        .cardTitle {
            font-weight: var(--font-weight-bold);
            font-family: var(--font-family--heading);
            color: var(--color-primary-heading);
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        .cardAnotherInfo {
            font-weight: var(--font-weight-bold);
            font-family: var(--font-family-paragraph);
            color: var(--color-accent);
        }
    }
    .cardInfo::before {
        content: " ";
        display: block;
        position: absolute;
        top: 20%;
        left: 0;
        width: 2px;
        height: 60%;
        background-color: var(--color-accent);
    }
    &:hover .cardInfo::before {
        display: none;
    }
    @media (max-width: 768px) {
        .cardInfo::before {display: none;}
    }
}