@import '../index.scss';
.cardList {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    @include mini-viewport {
        grid-template-columns: 1fr;
        .cardListes:not(:last-child){
            margin-bottom: 20px;
        }
    }
    @include small-viewport;
    @include mini-viewport;
    @include medium-viewport;
    @include large-viewport;
    @include ultra-large-viewport;
}